### SVM in Python

In [1]:
import pandas as pd
import numpy as np

In [8]:
train_x = pd.read_csv("../csv/train_features.csv")
train_y = pd.read_csv("../csv/train_labels.csv")
test_x = pd.read_csv("../csv/test_features.csv")

In [9]:
train_x = train_x.groupby(train_x["pid"], sort=False).agg("mean")
train_x.drop("Time", axis=1, inplace=True)
train_x.fillna(0, inplace=True)

test_x = test_x.groupby(test_x["pid"], sort=False).agg("mean")
test_x.drop("Time", axis=1, inplace=True)
test_x.fillna(0, inplace=True)

In [10]:
train_x.head()

,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,RRate,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
pid,,,,,,,,,,,,,,,,,,,,,
1,34.0,0.000000,0.00,12.0,0.000,36.750000,8.566667,25.333333,-0.666667,17.000000,...,0.0,100.000000,0.0,112.0,23.2,77.083333,0.0,0.00,114.500000,7.37
10,71.0,0.000000,27.80,12.0,0.000,36.000000,14.600000,0.000000,0.000000,18.090909,...,68.0,98.000000,0.0,0.0,42.1,78.818182,1.3,0.01,132.909091,0.00
100,68.0,0.000000,20.90,21.0,0.000,36.250000,12.500000,27.000000,0.000000,14.833333,...,0.0,96.500000,0.0,101.0,36.8,109.083333,0.0,0.00,117.000000,0.00
1000,79.0,31.863636,0.00,22.0,3.855,36.818182,9.200000,0.000000,0.000000,12.000000,...,0.0,98.818182,0.0,0.0,27.3,86.363636,0.0,0.00,141.909091,7.30
10000,76.0,0.000000,28.55,22.0,0.000,36.750000,10.700000,25.500000,1.500000,12.090909,...,0.0,98.545455,0.0,103.5,30.3,77.090909,0.0,0.00,123.000000,7.39

In [11]:
classification_labels = [
    "LABEL_BaseExcess",
    "LABEL_Fibrinogen",
    "LABEL_AST",
    "LABEL_Alkalinephos",
    "LABEL_Bilirubin_total",
    "LABEL_Lactate",
    "LABEL_TroponinI",
    "LABEL_SaO2",
    "LABEL_Bilirubin_direct",
    "LABEL_EtCO2",
    "LABEL_Sepsis",
]
train_y = train_y[classification_labels]

In [12]:
train_y.head()

,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2,LABEL_Sepsis
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
from sklearn.multioutput import MultiOutputClassifier
from sklearn import svm

rbf_svc = svm.SVC(kernel="rbf")
classifier = MultiOutputClassifier(rbf_svc).fit(train_x, train_y)
classifier.predict_proba(test_x)

AttributeError: The base estimator should implement predict_proba method

In [14]:
classifier.predict(test_x)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])