In [36]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
d_train = pd.read_csv("Data/train.csv")
y = np.array(d_train["y"])

d_sample = pd.read_csv("Data/sample.csv")
d_sample

   13.145520802298
0         9.601847
1         6.087286
2        14.511194
3        22.066090

In [33]:
X_train = np.array(d_train["x1"])
for i in range(1,13):
    X_train = np.column_stack((X_train , np.array(d_train["x" + str(i+1)])))

array([[6.72400e-02, 0.00000e+00, 3.24000e+00, ..., 1.69000e+01,
        3.75210e+02, 7.34000e+00],
       [9.23230e+00, 0.00000e+00, 1.81000e+01, ..., 2.02000e+01,
        3.66150e+02, 9.53000e+00],
       [1.14250e-01, 0.00000e+00, 1.38900e+01, ..., 1.64000e+01,
        3.93740e+02, 1.05000e+01],
       ...,
       [6.90500e-02, 0.00000e+00, 2.18000e+00, ..., 1.87000e+01,
        3.96900e+02, 5.33000e+00],
       [7.36711e+00, 0.00000e+00, 1.81000e+01, ..., 2.02000e+01,
        9.67300e+01, 2.15200e+01],
       [1.68118e+01, 0.00000e+00, 1.81000e+01, ..., 2.02000e+01,
        3.96900e+02, 3.08100e+01]])

In [45]:
values = []
for i in [0.1,1,10,100,200]:
    ridge_reg = Ridge(alpha = i, solver="cholesky")
    ridge_reg.fit(X_train,y)
    lin_scores = cross_val_score(ridge_reg ,X_train ,y ,scoring = "neg_mean_squared_error", cv = 10)
    values.append(np.sqrt(-lin_scores).mean())
    
final_val = pd.DataFrame(values)

final_val.to_csv("./submission_felix.csv")
final_val

          0
0  5.501809
1  5.499839
2  5.483631
3  5.636642
4  5.721234